[submodule "src/deps/geompp"]
	path = src/deps/geompp
	url = https://github.com/monocasual/geompp.git
[submodule "src/deps/mcl-utils"]
	path = src/deps/mcl-utils
	url = https://github.com/monocasual/mcl-utils.git
[submodule "src/deps/utfcpp"]
	path = src/deps/utfcpp
	url = https://github.com/nemtrif/utfcpp
