[submodule "src/deps/tiny-utf8"]
	path = src/deps/tiny-utf8
	url = https://github.com/DuffsDevice/tiny-utf8.git
[submodule "src/deps/geompp"]
	path = src/deps/geompp
	url = https://github.com/monocasual/geompp.git
[submodule "src/deps/mcl-utils"]
	path = src/deps/mcl-utils
	url = https://github.com/monocasual/mcl-utils.git
