[submodule "src/deps/tiny-utf8"]
	path = src/deps/tiny-utf8
	url = git@github.com:DuffsDevice/tiny-utf8.git
[submodule "src/deps/geompp"]
	path = src/deps/geompp
	url = git@github.com:monocasual/geompp.git
